
<% if(records.length > 0) { %>
    <% records.forEach(function(msgs){ %>
<tr>
    <td><%= msgs.section %></td>
    <td><%= msgs.name %></td>
    <td><%= msgs.phone %></td>
    <td><%= msgs.area %></td>
    <td><%= msgs.message %></td>
    <% })} else { %>
    <td>
        <a class="btn border-shadow delete" data-id=<%= msgs._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<tr><td>colspan="6">No records found</td></tr>
<% } %>
